mixin head(data)
  head
    title Manzoku
    meta(charset='utf-8')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='css/main.css')
    script(type='text/javascript', src='js/jquery-1.9.1.min.js')
