#header {
  background-color: $black;
  z-index: 1001;
  transition: right 0.25s cubic-bezier(0.6, 0.04, 0.98, 0.335), padding-right 0.25s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  .branding {
    width: 250px;
    height: 45px;
    line-height: 45px;
    float: left;
    padding: 0 15px;
  }
  .nav-right {
    margin-bottom: 0;
  }
  .nav-right > li a {
    line-height: 42px;
  }
}
