$red: #3cbcdf;
$grey: #969696;
$black: #262626;

$brand-primary: #3cbcdf;
$brand-warning: #f19200;
$brand-default: #f19200;

//darken
// $darken-primary: darken($brand-primary, 5%);


//darker
$darker-primary: darken($brand-primary, 9%);


//darkest
// $darkest-primary: darken($brand-primary, 12%);


//lighten
$lighten-grey: lighten($grey, 5%);
$lighten-black: lighten($black, 5%);

//lighter
// $lighter-primary: lighten($brand-primary, 10%);

//bright
// $bright-primary: lighten($brand-primary, 35%);
