$font-size-base: 10px !default;
$font-size-extra-large: ceil($font-size-base * 2.25) !default; // ~32px
$font-size-large: ceil($font-size-base * 1.25) !default; // ~18px
$font-size-small: ceil($font-size-base * 0.85) !default; // ~12px
$font-size-mini: ceil($font-size-base * 0.675) !default; // ~10px

$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
