mixin sidebar(data)
  aside#sidebar
    .sidebar-wrap

      ul#accordion1.nav-stacked
        li
          a
            i.fa.fa-dashboard
            span Dashboard

        li.panel.dropdown
          a(data-toggle='collapse', data-parent='#accordion1', href='#firstLink')
            i.fa.fa-dashboard
            span Form
            i.fa.fa-plus
          ul#firstLink.collapse
            li
              a(href='form-common.html')
                i.fa.fa-caret-right
                span Common Element
            li
              a
                i.fa.fa-caret-right
                span form
            li SubTest1
        li.panel.dropdown
          a(data-toggle='collapse', data-parent='#accordion1', href='#secondLink')
            i.fa.fa-table
            span Table
            i.fa.fa-plus
          ul#secondLink.collapse
            li
              a
                i.fa.fa-caret-right
                span Ui
            li
              a
                i.fa.fa-caret-right
                span form
            li SubTest1
        li
          a(href='') Test1
        li
          a(href='#') Test1


