.nav-stacked {
  padding: 0;
  -webkit-overflow-scrolling: touch;
  -webkit-overflow-scrolling: -blackberry-touch;
  list-style: none;
  .panel {
    background: none;
  }
  li {
    position: relative;
    margin: 0;
    overflow: hidden;
    z-index: 10;
    &.active {
      >a {
        color: white;
        background: $brand-primary;
      }
    }
    a:hover {
      text-decoration: none;
    }
    >a {
      position: relative;
      display: block;
      padding: 12px 15px;
      color: rgba(255, 255, 255, 0.5);
      transition: all 0.2s linear;
      user-select: none;
      position: relative;
      cursor: pointer;

      >i {
        display: inline-block;
        margin-right: 10px;
        text-align: center;
        width: 20px;
        line-height: 1;
        transition: all 0.1s linear;
        font-size: 14px;
      }
    }
  }
  .dropdown {
    > a {
      > i {
        &:last-of-type {
          position: absolute;
          top: 17px;
          right: 0px;
          font-size: 10px;
        }
      }
    }

    ul {
      padding: 5px 0;
      li >a {
        padding: 8px 0 8px 30px;
        >i {
          font-size: 10px;
        }
      }
    }
  }
}
