.badge,
.label {
  font-size: $font-size-mini;
  font-weight: $font-weight-normal;
}

.badge {
  padding: 3px 5px;

  &.badge-success {
    background-color: $brand-success;
  }
  &.badge-danger {
    background-color: $brand-danger;
  }
  &.badge-warning {
    background-color: $brand-warning;
  }
  &.badge-info {
    background-color: $brand-info;
  }
  &.badge-primary {
    background-color: $brand-primary;
  }
  &.badge-default {
    background-color: $brand-default;
  }
  &.badge-outline {
    display: inline-block;
    width: 10px;
    height: 10px;
    padding: 0;
    border: 1px solid;
    background: transparent;
  }
}
