mixin header(data)
  section#header.scheme-default
    header.clearfix
      // Branding
      .branding.scheme-default
        a.brand(href='index.html')
          span
            strong MEDIADO
        a.offcanvas-toggle.visible-xs-inline(role='button', tabindex='0')
          i.fa.fa-bars
      // Branding end
      // Right-side navigation
      ul.nav-right.pull-right.list-inline
        li.dropdown.users
          a.dropdown-toggle(href='', data-toggle='dropdown')
            i.fa.fa-user
            span.badge.bg-lightred 2
          .dropdown-menu.pull-right.with-arrow.panel.panel-default.animated.littleFadeInUp(role='menu')
            .panel-heading
              | You have
              strong 2
              |  requests
            ul.list-group
              li.list-group-item
                a.media(role='button', tabindex='0')
                  span.pull-left.media-object.thumb.thumb-sm
                    img.img-circle(src='assets/images/arnold-avatar.jpg', alt='')
                  .media-body
                    span.block Arnold sent you a request
                    small.text-muted 15 minutes ago
              li.list-group-item
                a.media(role='button', tabindex='0')
                  span.pull-left.media-object.thumb.thumb-sm
                    img.img-circle(src='assets/images/george-avatar.jpg', alt='')
                  .media-body
                    span.block George sent you a request
                    small.text-muted 5 hours ago
            .panel-footer
              a(role='button', tabindex='0')
                | Show all requests
                i.fa.fa-angle-right.pull-right
        li.dropdown.messages
          a.dropdown-toggle(href='', data-toggle='dropdown')
            i.fa.fa-envelope
            span.badge.bg-lightred 4
          .dropdown-menu.pull-right.with-arrow.panel.panel-default.animated.littleFadeInDown(role='menu')
            .panel-heading
              | You have
              strong 4
              |  messages
            ul.list-group
              li.list-group-item
                a.media(role='button', tabindex='0')
                  span.pull-left.media-object.thumb.thumb-sm
                    img.img-circle(src='assets/images/ici-avatar.jpg', alt='')
                  .media-body
                    span.block Imrich sent you a message
                    small.text-muted 12 minutes ago
              li.list-group-item
                a.media(role='button', tabindex='0')
                  span.pull-left.media-object.thumb.thumb-sm
                    img.img-circle(src='assets/images/peter-avatar.jpg', alt='')
                  .media-body
                    span.block Peter sent you a message
                    small.text-muted 46 minutes ago
              li.list-group-item
                a.media(role='button', tabindex='0')
                  span.pull-left.media-object.thumb.thumb-sm
                    img.img-circle(src='assets/images/random-avatar1.jpg', alt='')
                  .media-body
                    span.block Bill sent you a message
                    small.text-muted 1 hour ago
              li.list-group-item
                a.media(role='button', tabindex='0')
                  span.pull-left.media-object.thumb.thumb-sm
                    img.img-circle(src='assets/images/random-avatar3.jpg', alt='')
                  .media-body
                    span.block Ken sent you a message
                    small.text-muted 3 hours ago
            .panel-footer
              a(role='button', tabindex='0')
                | Show all messages
                i.pull-right.fa.fa-angle-right
        li.dropdown.notifications
          a.dropdown-toggle(href='', data-toggle='dropdown')
            i.fa.fa-bell
            span.badge.bg-lightred 3
          .dropdown-menu.pull-right.with-arrow.panel.panel-default.animated.littleFadeInLeft
            .panel-heading
              | You have
              strong 3
              |  notifications
            ul.list-group
              li.list-group-item
                a.media(role='button', tabindex='0')
                  span.pull-left.media-object.media-icon.bg-danger
                    i.fa.fa-ban
                  .media-body
                    span.block User Imrich cancelled account
                    small.text-muted 6 minutes ago
              li.list-group-item
                a.media(role='button', tabindex='0')
                  span.pull-left.media-object.media-icon.bg-primary
                    i.fa.fa-bolt
                  .media-body
                    span.block New user registered
                    small.text-muted 12 minutes ago
              li.list-group-item
                a.media(role='button', tabindex='0')
                  span.pull-left.media-object.media-icon.bg-greensea
                    i.fa.fa-lock
                  .media-body
                    span.block User Robert locked account
                    small.text-muted 18 minutes ago
            .panel-footer
              a(role='button', tabindex='0')
                | Show all notifications
                i.fa.fa-angle-right.pull-right
        li.dropdown.nav-profile
          a.dropdown-toggle(href='', data-toggle='dropdown')
            img.img-circle.size-30x30(src='images/avatar-01.png', alt='', width='30', height='30')
            span
              | Emily Hamal
              i.fa.fa-angle-down
          ul.dropdown-menu.animated.littleFadeInRight(role='menu')
            li
              a(role='button', tabindex='0')
                span.badge.bg-greensea.pull-right 86%
                i.fa.fa-user
                | Profile
            li
              a(role='button', tabindex='0')
                span.label.bg-lightred.pull-right new
                i.fa.fa-check
                | Tasks
            li
              a(role='button', tabindex='0')
                i.fa.fa-cog
                | Settings
            li.divider
            li
              a(role='button', tabindex='0')
                i.fa.fa-lock
                | Lock
            li
              a(role='button', tabindex='0')
                i.fa.fa-sign-out
                | Logout
      // Right-side navigation end
