include ../injected/injected

mixin content(data)
  +injected: block
  - var pages = ["page"]
  if data
    - pages.push(pages[0] + "-" + data.page)


  section#content
    div(class=pages)
      +use('content')
