include modules/header/header
include modules/head/head
include modules/sidebar/sidebar
include modules/content/content
include modules/footer/footer
include modules/injected/injected

doctype html
html
  +head()
  body
    .wrapper
      +header()

      +sidebar()

      +content({'page': 'form-common'})
        +inject('content')
          h2 Form common
          .row
            .col-md-6
              .tile



      +footer()
      script(type='text/javascript', src='js/main.js')
