include modules/header/header
include modules/head/head
include modules/sidebar/sidebar
include modules/content/content
include modules/footer/footer

doctype html
html
  +head()
  body
    .wrapper
      +header()

      +sidebar()

      section#content
        +content()
      +footer()
      script(type='text/javascript', src='js/main.js')
